* {
  font-family: sans-serif;
}


#catSitting {
  width: 10%;
  height: fit-content;
}

#catStanding {
  width: 10%;
  height: fit-content;
}

#catLaying {
  width: 10%;
  height: fit-content;
}

#mouse {
  width: 5%;
  height: fit-content;
}

h1{
  position: center;
}

#magicPotion{
width: 10%;
}

#cheeseBite{
  width: 10%;
}

#startButton{
position: center;
}