* {
  font-family: sans-serif;
}

header {
  text-align: center;
}

.instructions {
  text-align: center;
}

.controlButtons {
  text-align: center;
}

.left {
  font-size: medium;
  border-radius: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin: 1rem;
}

.right {
  font-size: medium;
  border-radius: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin: 1rem;
}
