* {
  font-family: sans-serif;
  background-color: rgb(248, 238, 105);
  color: black;
}

header {
  text-align: center;
  font-size: large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  text-align: center;
}

.controlButtons {
  text-align: center;
}

.left {
  background-color: white;
  font-size: medium;
  font-weight: bold;
  border-radius: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin: 0.7rem;
}

.right {
  background-color: white;
  font-size: medium;
  font-weight: bold;
  border-radius: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin: 0.7rem;
}

.creaters {
  text-align: right;
  font-size: x-small;
}
